flask
gunicorn
quant-platform-kit @ git+https://github.com/QuantStrategyLab/QuantPlatformKit.git@7b6e3ce33e6563db4794fa7b865db9ec428dc478
us-equity-strategies @ git+https://github.com/QuantStrategyLab/UsEquityStrategies.git@608f491f4ef083c752ec29ea2669665d5de4a219
hk-equity-strategies @ git+https://github.com/QuantStrategyLab/HkEquityStrategies.git@f4a7d9252e4c82750045872ff852cb474b172e91
pandas
requests
pytz
pandas_market_calendars
google-cloud-secret-manager
google-cloud-storage

google-auth
longport
