flask
gunicorn
pandas
requests
pytz
pandas-market-calendars
google-cloud-secret-manager
google-cloud-storage
google-auth
longport
quant-platform-kit @ git+https://github.com/QuantStrategyLab/QuantPlatformKit.git@08e586b3190b62cb3f512cb221add96c4ac3e411
us-equity-strategies @ git+https://github.com/QuantStrategyLab/UsEquityStrategies.git@c8df5f9659340965bd7f53998892ed1018ed4254
hk-equity-strategies @ git+https://github.com/QuantStrategyLab/HkEquityStrategies.git@700c8b19c46336d3d8fcba687e58553afcf0235f
quantuscombostrategies @ git+https://github.com/QuantStrategyLab/QuantUsComboStrategies.git@d35f4f86b09a7f4e99a1f83c973b21f2420398ef
